// Colors

$color-white: #ffffff;
$color-alice-blue: #f6f8fa;
$color-solitude: #eceff2;
$color-aluminium: #83898f;
$color-shuttle-grey: #5e646a;
$color-black-pearl: #191c1f;
$color-amaranth: #dc3545;
$color-amaranth-hover: #bd2130;
$color-amber: #ffc107;
$color-amber-hover: #d39e00;
$color-chateu-green: #28a745;
$color-chateu-green-hover: #1e7e34;
$color-dodger-blue: #007bff;
$color-dodger-blue-hover: #0062cc;
