.main-page {
  @include default-flex-centered-column;
  width: 100%;
  height: 100vh;
  background-color: $color-solitude;

  &__title {
    font-size: 52px;
    line-height: 60px;
    color: $color-shuttle-grey;
  }
}
